*.exe

minesweeper
build
run_web

web_build/minesweeper.wasm
web_build/minesweeper.wasm.bak
web_build/minesweeper_wasm_size.js

tmps/

build-settings.txt

sound_srcs_local.txt
sound_srcs.go
sound_srcs_bin

**/tags
